page-detail {
  ion-slides{
    height: 35%;
  }
}
.questionSlider .item-input {
  //  width: 80%;
    // background-color: black;
    border: 2px solid black;
    margin-top: 20px;
  }

  // ion-label{
  //   margin-bottom: 50px;
  // }
